# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# markdowns
DEPLOYMENT.md
MOBILE_GUIDE.md
README-original.md
Documentación Sistema de Gestión de Producción PyM 291cf0f7c6d280df970cf549aeba02bd.md

# docs
/docs

# test
test-results/
